<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>      
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        margin-top:10px;
      }
    </style>
  </head>
  <body  ng-app="pitsApp" ng-controller="vmCtrl">
   
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <form class="form-inline" mehod="GET" action="bcn_maps.html">
          <div class="form-group">
            <label for="sDistrito">Distrito</label>
            <select class="form-control" id="sDistrito" name="district">
              <option value="-1">Todos</option>              
              <option ng-repeat="active in setANames track by $index" value="{{$index}}">{{active}}</option>              
              <!--
              <option value="-1">Todos</option>
              <option value="0">Ciutat Vella</option>
              <option value="4">Eixample</option>
              <option value="2">Sants-Monjuic</option>
              <option value="7">Les Corts</option>
              <option value="3">Sarrià-Sant Gervasi</option>
              <option value="1">Gràcia</option>
              <option value="8">Horta-Guinardó</option>
              <option value="6">Nou Barris</option>
              <option value="9">Sant Andreu</option>
              <option value="5">Sant Martí</option>
              -->                                                                                    
            </select>
          </div>
          <div class="form-group">
            <label for="sCategoria">Categoria</label>
            <select class="form-control" id="sCategoria" name="category">
              <option value="-1">Todos</option>              
              <option ng-repeat="active in setBNames track by $index" value="{{$index}}">{{active}}</option>              
              <!--
              <option value="-1">Todos</option>              
              <option value="0">Espacios de Estudio e Investigación</option>
              <option value="9">Espacios Naturales</option>                            
              <option value="1">Espacios Urbanos</option>
              <option value="2">Museos</option>
              <option value="3">Ocio y timepo Libre</option>
              <option value="4">Patrimonio Cultural</option>
              <option value="5">Para ir de Compras</option>
              <option value="6">Para hacer Deporte</option>
              <option value="7">Para hacer Negocios</option>
              <option value="8">Transportes Singulares</option>
              -->                                                                      
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">Palabra:</label>
            <input type="text" class="form-control" id="keyword" placeholder="gaudi" name="keyword">
          </div>
          <button id="btnSearch" type="submit" class="btn btn-primary" disabled>Buscar</button>
        </form>       
      </div>      
    </div>
    </div>
    <div id="map"></div>
    <script src="underscore-min.js"></script>
    <script src="pitsQuery.js"></script>
    <script src="map.js"></script>        
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwYcxFqTMGl7mxngEtKIufHZAx_BWEbbo&callback=initMap"async defer></script>
    <script>
      //https://developers.google.com/maps/documentation/javascript/examples/marker-remove?hl=es-419      
      var vm, map, center_map = {lat: 41.386122276956, lng: 2.1871691182577}; //bcn

      function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
              center: center_map,
              zoom: 13/*,
              mapTypeId: google.maps.MapTypeId.TERRAIN*/
          });
      }
      
      $(document).ready(function(){
        
          var prev_markers = false;
           
          $('#btnSearch').click(function(e){
              e.preventDefault();

              var dis = parseInt($('#sDistrito').val());
              var cat = parseInt($('#sCategoria').val());

              layer = pitsQuery(vm, dis!==-1? [dis] : [], cat!==-1? [cat] : [] , $('#keyword').val() );
              if( prev_markers ) {
                clearLayer(prev_markers);
              }
              prev_markers = layer.markers;                        
              setMapOnAll(map, layer.markers);                          
          });
      });

      var app = angular.module('pitsApp', []);
      app.controller('vmCtrl', function($scope, $http) {
        $http.get("vmpits.json").then(function (response) {
           vm = response.data;
           vm.markers = [];
           createMarkers(vm);
           $scope.setANames = vm.setANames;
           $scope.setBNames = vm.setBNames;           

           $('#btnSearch').prop('disabled', false);                      
        });
      });
      
    </script>        
  </body>
</html>