<div class="row content-selector-mobile">
    <div class="col-xs-6 text-center put-border">
        <div class="radio radio-info" ng-click="selected === 'mapa' || selectfn()">
            <input type="radio" name="tipo-{{mobile}}" class="btn_tipo_1" value="mapa" ng-checked="selected === 'mapa'">
            <label>
                MAPA
            </label>
        </div>
    </div>
    <div class="col-xs-6 text-center put-border">
        <div class="radio radio-info" ng-click="selected === 'listado' || selectfn()">
            <input type="radio" name="tipo-{{mobile}}" class="btn_tipo_2" value="lista" ng-checked="selected === 'listado'">
            <label>
                LISTADO
            </label>
        </div>
    </div>
</div>