<!-- Mapa -->
        <!-- Listado -->
        <div id="listado">
            <listado-locations items="vm.itemList"></listado-locations>
        </div>

        <!-- Desktop and tablet version of menu -->
        <div class="desktop-menu">
            <side-menu seticons="vm.icons" filtersfn="vm.setFilters(distritos, categorias)" setanames="vm.setANames" setbnames="vm.setBNames" selectedlayer="vm.modo" selectlayerfn="vm.updateLayer()" mobile=false searchfn="vm.submit(query)" togglemainfn="vm.toggleSideDesktop()"></side-menu>          
        </div>

        <!-- controls and menu for mobile only -->
        <div class="mobile-menu">
            <side-menu seticons="vm.icons" filtersfn="vm.setFilters(distritos, categorias)"  setanames="vm.setANames" setbnames="vm.setBNames" mobile=true></side-menu>

            <layer-selector mobile="true" selected="vm.modo" selectfn="vm.updateLayer()"></layer-selector>

            <div class="row">
                <div class="col-xs-1">
                    <button onclick="openNav()" type="button" class="btn btn-circle btn-white btn-sm"><i class="glyphicon glyphicon-list"></i></button>
                </div>
                <div class="col-xs-8 col-xs-offset-1">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="vm.currentSearch" placeholder="Buscar..." >
                        <span class="input-group-addon">
                            <button type="submit" ng-click="vm.submit()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>  
                        </span>
                    </div>
                </div>
            </div>
        </div>